<html>
<head>
    <meta charset="UTF-8">
    <title>Decisionator</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <style>
    body{
        margin:0;
        font-family: 'Bangers',sans-serif;
        background-color: #383B53;
        color :#D4D6B9;
        font-size: 50px;
        display: flex;
        flex-direction : column;
        justify-content : center;
        align-items : center;
        text-align: center;
    }
    .result{
        font-size: 100px;
    }
    </style>
</head>
<body>
    <div id="app">
        <b v-if="!options.length">Add some options</b>

        <div v-if="!~selected && !deciding" v-for="option,index in options">
            {{ index+1 }}. {{ option }}
        </div>

        <div v-if="deciding">
            Deciding...
            <br>
            <img :src="image">
        </div>

        <b v-if="~selected" class="result">{{ options[selected] }}</b>

    </div>
    <script>

    /* global TroncastChannel,Vue,fetch  */
    /* eslint-disable indent, strict, no-console */
    let app = new Vue({
        el:'#app',
        data:{
            options: [],
            selected:-1,
            deciding: false,
            image: ''
        },
        created(){
            this.findImage
        },
        methods:{
            reset(){
                this.options.splice(0)
                this.deciding = false
                this.selected = -1
            },
            add(option){
                this.options.push(option)
            },
            decide(){
                this.deciding = true
                setTimeout(()=>{
                    this.deciding = false
                    this.selected = Math.floor( Math.random() * this.options.length )
                    this.findImage()
                },6000)
            },
            findImage(){
                let tags = ['suspense','decide','undecided','mistery']
                let tag = tags[Math.floor(Math.random()*tags.length)]

                fetch('http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag='+tag)
                    .then(response=>response.json())
                    .then(body=>this.image=body.data.image_url)
            }
        }
    })
    app.findImage()
    TroncastChannel.onConfigure(function*(){
        let result
        let initForm = {
            title:'Add hard option',
            elements:[
                {name:'option'   , label:'Hard option' , type:'input'},
                {name:'continue' , label:'Add'         , type:'button'},
            ]
        }
        let moreForm = {
            title:'Add more hard options',
            elements:[
                {name:'option'   , label:'Hard option' , type:'input'},
                {name:'continue' , label:'Add more'    , type:'button'},
                {name:'finish'   , label:'Finish'      , type:'button'},
            ]
        }

        app.reset()

        //REPL bucle
        do{
            result = yield (app.options.length ? moreForm : initForm)
            if (result.option)
                app.add(result.option)
        }while(!result.finish)

        app.decide()
    })
    </script>
</body>
</html>